<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Food Bytes</title>
    <!-- CSS Files -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Restuarant_Management_System_IDP.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <!--Checking -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body class="search-background fs-5">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark fixed-top border-bottom box-shadow mb-3 py-3 px-5 fs-4">
            <div class="container-fluid">
                @if(User.IsInRole(SD.Admin)){
                    <a class="navbar-brand fs-4" asp-controller="Admin" asp-action="Dashboard">Food Bytes</a> 
                }
                else{
                    <a class="navbar-brand fs-4" asp-area="" asp-controller="Home" asp-action="Index">Food Bytes</a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white-50" asp-controller="Home" asp-action="Menu">Menu</a>
                        </li>
                        @if(User.IsInRole(SD.Customer)){
                            <li class="nav-item">
                                <a class="nav-link text-white-50" asp-controller="Order" asp-action="OrderHistory">Order History</a>
                            </li>
                        }
                        @if (User.IsInRole(SD.Admin)){

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="manageMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Manage Menu
                                </a>
                                <div class="dropdown-menu" aria-labelledby="manageMenuDropdown">
                                    <a class="dropdown-item" asp-action="Category" asp-controller="ManageMenu">Category</a>
                                    <a class="dropdown-item" asp-action="SubCategory" asp-controller="ManageMenu">Sub Category</a>
                                    <a class="dropdown-item" asp-action="MenuItem" asp-controller="ManageMenu">MenuItem</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white-50" asp-controller="Admin" asp-action="GetUsers">Manage Users</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="manageOrderDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Order Manage
                                </a>
                                <div class="dropdown-menu" aria-labelledby="manageOrderDropdown">
                                    <a class="dropdown-item" asp-action="ManageOrder" asp-controller="Order">Manage Order</a>
                                    <a class="dropdown-item" asp-action="OrderPickup" asp-controller="Order">Order Delivery</a>
                                </div>
                            </li>
                        }
                        @if(User.IsInRole(SD.Kitchen) || User.IsInRole(SD.Delivery)){
                            <li class="nav-item dropdown text-white-50">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Order
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    @if (User.IsInRole(SD.Kitchen))
                                    {
                                        <a class="dropdown-item" asp-action="ManageOrder" asp-controller="Order">Manage Order</a>
                                    }
                                    @if (User.IsInRole(SD.Delivery))
                                    {
                                        <a class="dropdown-item" asp-action="OrderPickup" asp-controller="Order">Order Pickup</a>
                                    }
                                </div>

                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-white-50" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @if(User.IsInRole(SD.Customer)){
                            
                            string cartCount = httpContextAccessor.HttpContext.Session.GetString(SD.ShoppingCartCount);
                            cartCount = cartCount == "0" ? "" : cartCount;
                            
                            <li class="nav-item">
                                <a class="nav-link text-white-50" asp-controller="Customer" asp-action="Cart"><i class="bi bi-cart"></i> Cart <sup>@cartCount</sup></a>
                            </li>
                        }

                    </ul>

                    @* Add login partial view to display user name*@
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <br /><br /><br />
            @RenderBody()
        </main>
    </div>
    <br />
    <br />
    <br />
    <footer class="border-top pl-3 py-2 footer text-white-50" style="background-color:#343a40">
        <div class="container">
            &copy; 2025 - Restuarant_Management_System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- JavaScript Files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/2.2.1/js/dataTables.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>