@{
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel

<div class="text-center">
    <br />
    <h1>Welcome to Food Bytes</h1>
</div>

<h1>Restaurant Menu</h1>
<br />
<br />

@* categories page with the image of the first menuitem in the category *@

<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Categories</h2>
        </div>
    </div>
    @foreach (var category in Model.Categories)
    {
        <div class="row" id="menu-wrapper">
            @if(category.MenuItems.Any()){

            }
        </div>
    }   
</div>