@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1>Welcome to Food Bytes</h1>
    @* <p>Lean about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    @* <h1>Food Bytes Restaurant</h1> *@
</div>
