@model MenuItemViewModel

@{
    ViewData["Title"] = "Create MenuItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Create MenuItem</h2>
<br />

<partial name="_StatusMessage" model="Model.StatusMessage" />


<form method="post" enctype="multipart/form-data">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItem.Name" class="form-control" />
            </div>
            <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Description" class="col-form-label"></label>
            </div>
            <div class="col-5">
                @* @Html.TextAreaFor(x => x.MenuItem.Description) *@
                <textarea asp-for="MenuItem.Description" class="form-control" rows="4"></textarea>

            </div>
            <span asp-validation-for="MenuItem.Description" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Price" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItem.Price" class="form-control" />
            </div>
            <span asp-validation-for="MenuItem.Price" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Image" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.CategoryId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select id="CategoryId" asp-for="MenuItem.CategoryId" asp-items="Model.CategoryList" class="form-control"></select>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.SubCategoryId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select id="SubCategoryId" asp-for="MenuItem.SubCategoryId" asp-items="@(new SelectList(string.Empty,"Id","Name"))" name="SubCategoryId" class="form-control"></select>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-5 offset-2">
                <div class="row">
                    <div class="col-6">
                        <input type="submit" class="btn btn-info form-control" value="Create" />
                    </div>
                    <div class="col-6">
                        <a asp-action="MenuItem" class="btn btn-success form-control">Back To List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {

    @*To Get SubCategory Depend on category Dropdown list*@
    <script type="text/javascript">
        $(document).ready(function () {
            // console.log('ready');
            getSubCategory();

            $('#CategoryId').change(function () {
                // console.log('changed');
                getSubCategory();
            });
        });

        function getSubCategory() {
            var url = '/ManageMenu/GetSubCategory';
            var ddlsource = '#CategoryId';
            console.log('inside fxn');
            $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                console.log()
                var items = '';
                $('#SubCategoryId').empty();
                $.each(data, function (i, subcategory) {
                    items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                    // console.log('.');
                });

                $('#SubCategoryId').html(items);
            });
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}