@model Restuarant_Management_System_IDP.Models.RegistrationViewModel
@* @model Restuarant_Management_System_IDP.Models.Addresstb *@


@{
    ViewData["Title"] = "Register";
}

@{/*
<h2>Register</h2>

@using (Html.BeginForm("Register","Account",FormMethod.Post)){
    <div id="step1">
        <table>
            <tr>
                <th>
                    <label asp-for="User.CustomerId" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="User.CustomerId" type="text" name="customerId" class="form-control"/>
                    <span asp-validation-for="User.CustomerId" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <label asp-for="User.Email" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="User.Email" type = "email" name="email" class="form-control"/>
                    <span asp-validation-for="User.Email" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th>
                <label asp-for="Login.Password" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Login.Password" type="password" name="password" class="form-control"/>
                    <span asp-validation-for="Login.Password" class="text-danger"></span>
                </td>
            </tr>
        </table>
        <button type="button" onclick="nextStep(2)">Next</button>
  </div>
    <div id="step2" style="display:none;">
      <table>
            <tr>
                <th>
                    <label asp-for="User.FirstName" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="User.FirstName" type="text" name="firstname" class="form-control" required/>
                    <span asp-validation-for="User.FirstName"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <label asp-for="User.LastName" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="User.LastName" type="text" name="lastname" class="form-control" />
                    <span asp-validation-for="User.LastName"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <label asp-for="User.Contact" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="User.Contact" type="tel" name="contact" class="form-control" required/>
                    <span asp-validation-for="User.Contact"></span>
                </td>
            </tr>
      </table>
        <button type="button" onclick="prevStep(1)">Previous</button>
        <button type="button" onclick="nextStep(3)">Next</button>
  </div>
    <div id="step3" style="display:none;">
        <table>
            <tr>
                <th>
                    <label asp-for="Addresstb.Address" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Addresstb.Address" type="text" name="address" class="form-control" />
                    <span asp-validation-for="Addresstb.Address" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <label asp-for="Addresstb.City" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Addresstb.City" type="text" name="city" class="form-control" />
                    <span asp-validation-for="Addresstb.City" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <label asp-for="Addresstb.Pincode" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Addresstb.Pincode" type="text" name="pincode" class="form-control" />
                    <span asp-validation-for="Addresstb.Pincode" class="text-danger"></span>
                </td>
            </tr>
            @* <tr> *@
            @*     <th> *@
            @*         <label asp-for="Addresstb.AddressType" class="control-label"></label> *@
            @*     </th> *@
            @*     <td> *@
            @*         @Html.DropDownList("Role", *@
            @*             new List<SelectListItem>() { *@
            @*             new SelectListItem(){Text="Admin", Value="Admin"}, *@
            @*             new SelectListItem(){Text="Customer", Value="Customer"}, *@
            @*         }, "Select Role") *@
            @*         <span asp-validation-for="Addresstb.AddressType" class="text-danger"></span> *@
            @*     </td> *@
            @* </tr> *@
        </table>
        <button type="button" onclick="prevStep(2)">Previous</button>
        <button type="submit">Submit</button>
    </div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function nextStep(step) {
      document.getElementById('step' + (step - 1)).style.display = 'block';
      document.getElementById('step' + step).style.display = 'block';
    }

    function prevStep(step) {
      document.getElementById('step' + (step + 1)).style.display = 'none';
      document.getElementById('step' + step).style.display = 'block';
    }
        function validateStep(step) {
      var isValid = true;
      var inputs = document.querySelectorAll('#step' + step + ' input');

      inputs.forEach(function(input) {
        if (!input.checkValidity()) {
          isValid = false;
          input.reportValidity();
        }
      });

      if (isValid) {
        nextStep(step + 1);
      }
    }
</script>
*/}
<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" id="theForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="step1">
            <div class="form-group">
                <label asp-for="User.CustomerId" class="control-label"></label>
                <input asp-for="User.CustomerId" class="form-control" />
                <span asp-validation-for="User.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
                <button type="submit" onclick="nextStep(2)">Next</button>
            </div>
            <div id="step2" style="display:none;">
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
                <button type="submit" onclick="prevStep(1)">Previous</button>
                <button type="submit" onclick="nextStep(3)">Next</button>
            </div>
            <div id="step3" style="display:none;">
            <div class="form-group">
                <label asp-for="User.Contact" class="control-label"></label>
                <input asp-for="User.Contact" class="form-control" />
                <span asp-validation-for="User.Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Contact2" class="control-label"></label>
                <input asp-for="User.Contact2" class="form-control" />
                <span asp-validation-for="User.Contact2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="button" onclick="prevStep(2)">Previous</button>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    function nextStep(step) {
      // document.getElementById("theForm").submit();
      document.getElementById('step' + (step - 1)).style.display = 'none';
      document.getElementById('step' + step).style.display = 'block';
    }

    function prevStep(step) {
      document.getElementById('step' + (step + 1)).style.display = 'none';
      document.getElementById('step' + step).style.display = 'block';
    }

</script>